html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Merriweather", serif;
    color: #40514e;
}

.name {
    font-size: 200px;
    color: #14128a; /* Text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional shadow */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.font {
    font-size: 5.625rem;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
    display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
}


.header {
    background-image: url('./pexels-edward-jenner-4252524.jpg');
            background-size: cover; /* Make the image cover the entire area */
            background-position: center; /* Center the background image */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Full viewport height */
}

.profile {
    display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
}

.skills {
    display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
}

.skills h2 {
    color: #14128a; /* Text color */

}

h3 {
    color: #14128a; /* Text color */
font-family: "Merriweather", serif;
    font-size: 1.17em;
}

.parent {
    
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}

p {
    line-height: 2;
    font-family: 16px "Merriweather", serif;
    font-size: 25px;
}

.contact-me {
    display: flex;
    justify-content: center;
            align-items: center;
            flex-direction: column;
}

a {
    color: white;
}

